/* You can add global styles to this file, and also import other style files */
/* FORCE ENTIRE APP TO BE BLACK */
body, html {
  background-color: #000000 !important; /* Pure Black */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents side-scrolling */
}